<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />                      
</head>
<body>

@Html.Partial("_PartialNavBar")

<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    <p>&copy; @DateTime.Now.Year - Ahmed Hussein</p>
</div>          


@Scripts.Render("~/bundles/scripts")

@RenderSection("Scripts",false)    
@RenderSection("ScriptsDel",false)    



</body>
</html>