@using EmployeeTable.Models.Entities
@model EmployeeTable.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Add";
}

<h2>Add New Emp</h2>


@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(e => e.Employee.Id)
        @Html.TextBoxFor(e => e.Employee.Id, new { @class = "form-control" })   <!-- i want to style my text box with a class of cs bootstrap-->
        <!-- so, i use At because there's a reserved word called class in c#-->
        @Html.ValidationMessageFor(e => e.Employee.Id)

    </div>


    <div>
        @Html.LabelFor(e => e.Employee.Name)
        @Html.TextBoxFor(e => e.Employee.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Employee.Name)
    </div>

    <div>
        @Html.LabelFor(e => e.Employee.Age)
        @Html.TextBoxFor(e => e.Employee.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Employee.Age)
    </div>


    <div>
        @Html.LabelFor(e => e.Employee.Gender)   
        
        @Html.EnumDropDownListFor(e=>e.Employee.Gender, "Select Gender", new {@class="form-control"})
       

        @*@Html.DropDownListFor(e => e.Employee.Gender, new List<SelectListItem>()      // this fucking DropDownList takes a List of type <SelectListItem>
        {
            new SelectListItem()                               // now i need to add the SelectListItem
            {
                Text = Gender.Male.ToString(),
                Value = Gender.Male.ToString()
            } ,

            new SelectListItem()
            {
                Text = Gender.Female.ToString(),
                Value = Gender.Female.ToString()
            }
        }

            , "Select Gender", new { @class = "form-control" }


            )*@
        @Html.ValidationMessageFor(e => e.Employee.Gender)
    </div>


    <div>
        @Html.Label("Department")
        @Html.DropDownListFor(e => e.Employee.Fk_DepartmentId, new SelectList(Model.Departments, "Id", "Name"),
            "Select Department", new { @class = "form-control" })
                                                                     
        
        <!--  now i need to initialize the selectList of the departments in the Add action in Employee Controller-->


        @Html.ValidationMessageFor(e => e.Employee.Fk_DepartmentId)
    </div>

    <br />
    <div> <input type="submit" value="Add" class="btn btn-primary" /> </div>
}



