<!-- i want to iterate the list to draw it in my table-->

@model List<EmployeeTable.Models.Entities.Employee>
@{
    ViewBag.Title = "Employees List";
}

<br />
<h2>Employees List</h2>
<br />

@Html.ActionLink("+ Add a new Employee", "Add")

<br />
<table class="table table-bordered">
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Age</td>
        <td>Gender</td>
        <td>Department</td>

    </tr>
    </thead>


    <tbody>
    @foreach (var e in Model)
    {
        <tr>

            <td>@e.Id</td>
            <td>@e.Name</td>
            <td>@e.Age</td>
            <td>@e.Gender</td>
            <td>@e.Department.Name</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = e.Id }) |  <!-- property called id "matches the route" == mode.Id-->
                                                                     
                @Html.ActionLink("Inline Edit", "InlineEdit", new { id = e.Id }) |

                <a class="btn btn-link" onclick="empDelete(@e.Id)">Delete</a>
            </td>



        </tr>
    }


    </tbody>


</table>
              
<script>
    function empDelete(id) {
        var result = confirm("Confirm the Delete Process ?");

        if (result) {
            window.location.replace("/Employee/Delete/"+id);
        }
    }


</script>